/*header.scss*/
@import 'header';
/*sidebar.scss*/
@import 'sidebar';
@import 'content';
@import 'product';
@import 'order';
@import 'report';
@import 'dashboard';
html, body {
	margin: 0;
	height: 100%;
	overflow:hidden;
}

