#content{
	height:calc(100% - 2.8rem);
	margin-bottom:0px;
}
.detail_content{
	height:calc(100% - 2.8rem);
	width:calc(100% - 300px);
	left:300px;
	position:absolute;	
}
#product-info{
	height:100%;
}
#adjustStock{
	padding:1rem 4rem 1rem 4rem;
}
.picker__date-display{
	display:none;
}

#sideinfo{
	min-width:40rem;
	overflow:scroll;
}

#orderlist{
	height:100%;
}

#supplierlist{
	height:100%;
}

.dashboard-window{
	padding:1rem 2rem 0 2rem;
	height:100%;
	min-width:80rem;
}

@media (max-width:992px){
	.detail_content{
		width:100%!important;
		left:0px!important;
	}
}
