#content{
	height:calc(100% - 2.8rem);
	margin-bottom:0px;
}
.detail_content{
	height:calc(100% - 2.8rem);
	width:calc(100% - 300px);
	left:300px;
	position:absolute;
}
#search_bar{
	padding-left:3rem;
	border: 1px solid #aaaaaa;
	border-radius:1.5rem;
}
.search_icon{
	font-size:1.8rem;
	color:#aaaaaa;
}