<div id='product-info' class='row'>
	<div id='product-info-content'>
		<div class='info-title'>
			<span style='font-size:26px'>{{product.name}}</span>

			<button class='action-button btn remove-btn icon-btn close-btn'>
				<i class="fa fa-times" aria-hidden="true" style='font-size:2rem'></i>
			</button>

			<button class='action-button btn remove-btn icon-btn waves-effect waves-light'>
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>

			<button class='action-button btn word-btn waves-effect waves-light'>
				Adjust stock
			</button>

			<button class='action-button btn edit-btn icon-btn waves-effect waves-light'>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
		</div>

		<div class='col s12'>
			<ul class="tabs">
				<li class="tab col s3"><a href="#test1">Test 1</a></li>
				<li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
				<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
				<li class="tab col s3"><a href="#test4">Test 4</a></li>
			</ul>
		</div>
	</div>
</div>