<div id='product-info' class='row' ng-init='init()'>
	<div id='product-info-content'>
		<div class='info-title'>
			<span style='font-size:26px'>{{product.name}}</span>

			<button class='action-button btn remove-btn icon-btn close-btn' ui-sref='product.list'>
				<i class="fa fa-times" aria-hidden="true" style='font-size:2rem'></i>
			</button>

			<button class='action-button btn remove-btn icon-btn waves-effect waves-light' ng-click='deleteItem(product._id)'>
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>

			<button class='action-button btn word-btn waves-effect waves-light' data-target="adjustStock">
				Adjust stock
			</button>

			<button class='action-button btn edit-btn icon-btn waves-effect waves-light' data-target="editProduct">
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
		</div>
		<add-adjust></add-adjust>
		<product-edit></product-edit>
		<div class= 'row' style='border-bottom:1px solid #BFAFAF;'>
			<div class='col s12'>
				<ul class="tabs">
					<li class="tab col s3" ng-click='selectTabs(0)'><a>Overview</a></li>
					<li class="tab col s3" ng-click='selectTabs(1)'><a>Adjustment</a></li>
					<li class="tab col s3" ng-click='selectTabs(2)'><a>Purchase</a></li>
					<li class="tab col s3" ng-click='selectTabs(3)'><a>Sale</a></li>
				</ul>
			</div>
		</div>
		<div class='info-window' class='col s12' ng-show="selectTab==0">
			<div class='col s6'>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Item Type</label>
					<span class='col s6'>{{product.itemType}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Unit</label>
					<span class='col s6'>{{product.unit}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Sell Price</label>
					<span class='col s6'>{{product.sellPrice}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Purchase Price</label>
					<span class='col s6'>{{product.buyPrice}}</span>
				</div>
				<div class='sell-chart'>
				</div>
			</div>
			<div class='col s6'>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>In Stock</label>
					<i class="fa fa-exclamation-triangle" ng-show="product.stock<=product.restockAmount" title='Remaining amount below restock level' aria-hidden="true"></i>
					<span class='col s6'>{{product.stock}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Restock Amount</label>
					<span class='col s6'>{{product.restockAmount}}</span>
				</div>
			</div>
		</div>
		<div class='change-history' ng-show="selectTab==1">
			<div class='title-cell'>
				<div class='row' style='margin-bottom:0'>
					<div class='col s5'>
						<span>Reason</span>
					</div>
					<div class='col s3'>
						<span>Amount</span>
					</div>
					<div class='col s4'>
						<span>Date</span>
					</div>
				</div>
			</div>
			<div ng-show="product.changeHistory.length==0" style='text-align:center'>
				<span>No adjustment yet.</span>
			</div>
			<div ng-repeat='adjustment in product.changeHistory'>
				<div class='row item-cell col s12' style='margin-bottom:0;padding-left:0px'>
					<div class='col s5'>
						<span>{{adjustment.reason}}</span>
					</div>
					<div class='col s3'>
						<span>{{adjustment.amount}}</span>
					</div>
					<div class='col s4'>
						<span>{{adjustment.date}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class='purchase-order' ng-show="selectTab==2">
			<div class='title-cell'>
				<div class='row' style='margin-bottom:0'>
					<div class='col s4'>
						<span>Order</span>
					</div>
					<div class='col s3'>
						<span>Amount</span>
					</div>
					<div class='col s2'>
						<span>Status</span>
					</div>
					<div class='col s3'>
						<span>Date</span>
					</div>
				</div>
			</div>
			<div ng-show="purchaseOrder.length==0" style='text-align:center'>
				<span>No order yet.</span>
			</div>
			<div ng-repeat='order in purchaseOrder'>
				<div class='row item-cell col s12' style='margin-bottom:0;padding-left:0px'>
					<div class='col s4' ui-sref='order.info({orderID:order._id})'>
						<span style='color:#206ec5'>{{order.name}}</span>
					</div>
					<div class='col s3'>
						<span>{{order.amount}}</span>
					</div>
					<div class='col s2'>
						<span>{{order.stat}}</span>
					</div>
					<div class='col s3'>
						<span>{{convertDate(order.createdAt)}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class='sale-order' ng-show="selectTab==3">
			<div class='title-cell'>
				<div class='row' style='margin-bottom:0'>
					<div class='col s5'>
						<span>Order</span>
					</div>
					<div class='col s3'>
						<span>Amount</span>
					</div>
					<div class='col s4'>
						<span>Date</span>
					</div>
				</div>
			</div>
			<div ng-show="sellHistory.length==0" style='text-align:center'>
				<span>No order yet.</span>
			</div>
			<div ng-repeat='order in sellHistory'>
				<div class='row item-cell col s12' style='margin-bottom:0;padding-left:0px'>
					<div class='col s5' ui-sref='order.info({orderID:order._id})'>
						<span style='color:#206ec5'>{{order.name}}</span>
					</div>
					<div class='col s3'>
						<span>{{order.amount}}</span>
					</div>
					<div class='col s4'>
						<span>{{convertDate(order.createdAt)}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>