<div id='product-info' class='row'>
	<div id='product-info-content'>
		<div class='info-title'>
			<span style='font-size:26px'>{{product.name}}</span>

			<button class='action-button btn remove-btn icon-btn close-btn' >
				<i class="fa fa-times" aria-hidden="true" style='font-size:2rem'></i>
			</button>

			<button class='action-button btn remove-btn icon-btn waves-effect waves-light' ng-click='deleteItem(product._id)'>
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>

			<button class='action-button btn word-btn waves-effect waves-light' data-target="adjustStock">
				Adjust stock
			</button>

			<button class='action-button btn edit-btn icon-btn waves-effect waves-light'>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
		</div>
		<div id='adjustStock' class='modal'>
			<h4 class='modal-title'>ADJUST STOCK</h4>
			<div class='modal-content' class='row'>
				<form ng-submit='adjustStock(product._id)' class='col s12'>
					<div class='row'>
						<div class='input-field col s12'>
							<input id='adjust-reason' type='text' ng-model='adjustReason' required>
							<label for='adjust-name'>Adjust reason</label>
						</div>
					</div>
					<div class='row' >
						<div class='input-field col s12'>
							<input id='adjust-amount' type='number' ng-model='stockAdjustAmount' required>
							<label for='adjust-amount' class='active'>Amount</label>
						</div>
					</div>
					<div class='row'>
						<div class='input-field col s12' style='position:relative'>
							<input id='adjust-date' type='date' class='datepicker' required>
							<label for='adjust-date'>Date</label>
						</div>
					</div>
					<button class='btn word-btn' style='float:right' type='submit'>Add</button>
				</form>
			</div>
		</div>
		<div class= 'row' style='border-bottom:1px solid #BFAFAF'>
			<div class='col s12'>
				<ul class="tabs">
					<li class="tab col s3" ng-click='selectTabs(0)'><a>Overview</a></li>
					<li class="tab col s3" ng-click='selectTabs(1)'><a>Adjustment</a></li>
				</ul>
			</div>
		</div>
		<div class='info-window' class='col s12' ng-show="selectTab==0">
			<div class='col s6'>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Item Type</label>
					<span class='col s6'>{{product.itemType}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Unit</label>
					<span class='col s6'>{{product.unit}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Sell Price</label>
					<span class='col s6'>{{product.sellPrice}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Purchase Price</label>
					<span class='col s6'>{{product.buyPrice}}</span>
				</div>
				<div class='sell-chart'>
				</div>
			</div>
			<div class='col s6'>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>In Stock</label>
					<span class='col s6'>{{product.stock}}</span>
				</div>
				<div class='row'>
					<label class='col s6' style='font-size:0.9rem'>Restock Amount</label>
					<span class='col s6'>{{product.restockAmount}}</span>
				</div>
			</div>
		</div>
		<div class='change-history' ng-show="selectTab==1">
			<div ng-repeat='adjustment in product.changeHistory' class='col s12'>
				<div class='row'>
					<div class='col s5'>
						<span>{{adjustment.reason}}</span>
					</div>
					<div class='col s3'>
						<span>{{adjustment.amount}}</span>
					</div>
					<div class='col s4'>
						<span>{{adjustment.date}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>