<div id='editProduct' class='modal'>
	<h4 class='modal-title'>EDIT PRODUCT</h4>
	<div class='modal-content' class='row'>
		<form ng-submit='editProduct()' class='col s12'>
			<div class='row'>
				<div class='input-field col s12'>
					<input id='product-name' type='text' ng-model='product.name' required>
					<label for='product-name' class='active'>Product name</label>
				</div>
			</div>
			<div class='row'>
				<div class='input-field col s6'>
					<input id='product-buyPrice' type='number' ng-model='product.buyPrice' required>
					<label for='product-buyPrice' class='active'>Purchase Cost</label>
				</div>
				<div class='input-field col s6'>
					<input id='product-sellPrice' type='number' ng-model='product.sellPrice' required>
					<label for='product-sellPrice' class='active'>Sell Price</label>
				</div>
			</div>
			<div class='row'>
				<div class='input-field col s12'>
					<input id='product-type' type='text' ng-model='product.itemType' required>
					<label for='product-type' class='active'>Type</label>
				</div>
			</div>
			<div class='row'>
				<div class='input-field col s12'>
					<input id='product-stock' type='number' ng-model='product.stock' required>
					<label for='product-stock' class='active'>Amount</label>
				</div>
			</div>
			<div class='row'>
				<div class='input-field col s12'>
					<input id='product-restock' type='number' ng-model='product.restockAmount' required>
					<label for='product-restock' class='active'>Restock Amount</label>
				</div>
			</div>
			<div class='row'>
				<div class='input-field col s12'>
					<input id='product-unit' type='text' ng-model='product.unit' required>
					<label for='product-unit' class='active'>Unit</label>
				</div>
			</div>
			<button class='btn word-btn' style='float:right' type='submit'>Add</button>
		</form>
	</div>
</div>