<ul id='sidebar' class='side-nav fixed'>
	<li>
		<div class='sidebar-item' ui-sref='dashboard' ui-sref-active='active'>
			<a><strong>Dashboard</strong></a>
		</div>
	</li>
	<li>
		<div class='sidebar-item' ui-sref='product' ui-sref-active='active'>
			<a><strong>Product</strong></a>
		</div>
	</li>
	<li>
		<div class='sidebar-item' ui-sref='supplier' ui-sref-active='active'>
			<a><strong>Supplier</strong></a>
		</div>
	</li>
	<li>
		<div class='sidebar-item' ui-sref='order' ui-sref-active='active'>
			<a><strong>Order</strong></a>
		</div>
	</li>
	<li>
		<div class='sidebar-item' ui-sref='report' ui-sref-active='active'>
			<a><strong>Reports</strong></a>
		</div>
	</li>
</ul>